<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset='utf-8'/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
        html, body {
            overflow: hidden; /* don't do scrollbars */
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
            padding-top: 20px;
        }
    </style>

    <title>Holiday Calendar Booking Engine</title>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Calendar view</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/show">Show my holidays</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addEvent">Add new holiday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/show">Show user list</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link float-right" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>



<main role="main" class="container">

    <div class="starter-template">
        <p class="lead">
        <h1>Holiday Calendar - User's view</h1>
        </p>
    </div>

</main><!-- /.container -->
<div th:switch="${eventListByUser}">
    <h2 th:case="null">No Events yet!</h2>
    <div th:case="*">
        <h2>Events</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Event id</th>
                <th scope="col">title</th>
                <th scope="col">start</th>
                <th scope="col">end</th>
                <th scope="col">event type</th>
                <th scope="col">user id</th>
                <th scope="col">is verified</th>
                <th scope="col">Click to delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="calendarEvent : ${eventListByUser}">
                <td scope="row" th:text="${calendarEvent.eventId}"></td>
                <td th:text="${calendarEvent.title}"></td>
                <td th:text="${calendarEvent.start}"></td>
                <td th:text="${calendarEvent.end}"></td>
                <td th:text="${calendarEvent.eventType}"></td>
                <td th:text="${calendarEvent.eventUser.id}"></td>
                <td th:text="${calendarEvent.enabled}"></td>
                <td><a th:href="@{/delete/{id}(id=${calendarEvent.eventId})}" class="btn btn-danger" onclick="return confirm('Are you sure to delete HolidayEvent?')">Delete Event</a> </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
